.address > *{
    padding-bottom:10px
}

.address-container{
    width:65%;
    padding-top:20px;
    display: flex;
    justify-content: left;
}

.appointment-cta{
    color:rgb(87, 76, 206);
    font-weight: bold;
    width:35%
}

.appointment-description-price{
    padding-top:15px
}

.appointment-description-time{
    font-weight: bold;
}

.appointment-type-container{
    border: 1px solid rgb(198, 198, 198);
    border-radius: 8px;
    padding:5px 20px 20px 20px;
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appointment-type-container:hover{
    cursor:pointer
}

.appointment-description-body{
    width:85%
}

.arrow{
    width:20px;
}

.booked-box{
    background-color: rgb(246, 245, 245);
    width:100px;
    height:30px;
    color:lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:100;
    border-radius: 10px;
    padding:5px;
    margin:5px;
}

.book-btn{
    border: none;
    background-color: rgb(87, 76, 206);
    color: white;
    width: 65%;
    height:50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.book-btn:hover{
    background-color: rgb(87, 76, 206);
}

.btn-container{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px 30% 0px 30%;
    border-image: linear-gradient(to right, black, blue);
    padding-bottom: 30px;

}


.cal-ctr{
    width:100%;
}

.calendar{
    font-family:Montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width:100%;
}

.calendar-nav-btn{
    border:none;
    background-color: transparent;
    padding-left: 70px;
    padding-right: 70px;
}

.days{
    color:black;
}

.dates{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin:5px 10px ;
    width:20px;
    font-size: 15px;
    height:20px;
    border-radius: 50%;
    -moz-border-radius:60%;
    -webkit-border-radius: 50%;
}

.dates:hover{
    transform: scale(120%);
}

.date-span{
    border-bottom: 1px solid blue;
}

.front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-container{
    padding-top: 40px;
    display: flex;
    font-family: Montserrat;
}

.landing-location-btn{
    border:none;
    padding-right:20px;
    font-size: 17px;
    font-weight: bold;
    background-color: transparent;
}

.landing-title-container{
    width: 100%;
    padding-bottom: 20px;
}

.left{
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location-icon{
    filter: invert(91%) sepia(0%) saturate(1447%) hue-rotate(187deg) brightness(95%) contrast(72%);
    width:20px;
    height:20px;
}

.location-icon-container{
    padding-right: 20px;
}

.logo-img{
    width:70px;
    border-radius: 50%;
    border: .5px solid #c4c3c3;
}

.map-container{
    width:65%
}

.map-container > img{
    width:100%
}

.navbar-container{
    font-family: Montserrat;
    font-weight: bold;
    color:rgb(87, 76, 206);
    border-bottom: 1px solid rgb(202, 201, 201);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-body{
    padding:40px;
}

.landing-notes{
    padding-top: 25px;
    padding-bottom: 25px;
    width:65%
}

.right{
    width:60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.schedule-container{
    padding-left: 20px;
}

.time-box{
    background-color: rgb(87, 76, 206);
    width:140px;
    height:40px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:100;
    border-radius: 10px;
    padding:5px;
    margin:10px 5px;
}

.time-box:hover{
    background-color: rgb(64, 57, 143);
    cursor: pointer;
}

.time-container{
    display: flex;
    grid-template-columns: 1fr 1fr  1fr;
}

@media only screen and (max-width: 600px) {
    .time-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dates{
        margin: 5px 5px;
        padding:10px
    }
    .title-container{
        font-size: 12px;
        font-weight: bold;
    }
    .cal-ctr{
        width:100%
    }
  }







  