body{
    font-family:Arial, Helvetica, sans-serif
}
.time-container > button{
    background-color: rgb(98, 122, 228);
    width:100px;
    height:35px;
    margin:10px;
    color:white;
    border:none;
    display: block;
    border-radius: 5px;
    font-size: 15px;
}